{{> head }}
{{> navbar }}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>juan Jose</td>
      <td>Gallegos Valdivia</td>
      <td>jjgallegosva@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sandra Maria</td>
      <td>Zapata Quentasi</td>
      <td>szapata@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jorge Luis</td>
      <td>Mendoza Luna</td>
      <td>jorgeLuis@gmail.com</td>
    </tr>
  </tbody>
</table>
{{> foot }}